body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

header {
    background-color: #FFFFFF;
    padding: .5px;
    text-align: center;
    border-bottom: .5px solid #000000;
}

header h1 a {
    font-size: 36px;
    margin-bottom: 5px;
    color: #7C2529;
    font-weight: bold;
    text-decoration: none;
}

nav {
    background-color: #FFFFFF;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #000000;
}

nav a {
    color: #7C2529;
    text-decoration: none;
    transition: color 0.2s ease;
    font-size: 22px;
    margin: 10px;
}

nav span {
    margin: 20px;
}

nav span:last-child {
    margin-right: 45px;
}

nav a:hover {
    color: #707372;
}

.content {
    background-color: #FFFFFF;
    padding: 20px;
}

.social-media {
    background-color: #FFFFFF;
    color: #7C2529;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #000000;
}

.social-media a {
    color: #7C2529;
    text-decoration: none;
    transition: color 0.2s ease;
}

.social-media a:hover {
    color: #707372;
}

h1, h2, h4 {
    color: #7C2529;
}