html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
  }
  

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

header {
    background-color: #7C2529;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1 a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #cccccc;
}

.origins-content {
    padding: 20px;
    background: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.origins-wrapper {
    width: 100vw;
    min-height: 100vh;
    padding: 2rem 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
  }
  

footer {
    background-color: #7C2529;
    padding: 1rem 0;
    margin-top: auto;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-media a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #cccccc;
}

.h4 {
    font-size:small;
}
